Repository CityOfBoston/boston.gov-d8, pull requests merged in 2024-10, with the labels that each got.

#3626 DIG-4935 Remove 'never' option for recurring events in Drupal
  docroot/themes/custom/bos_admin/bos_admin.libraries.yml
  docroot/themes/custom/bos_admin/css/bos_admin.css
Labels: Enhancement

#3627 DIG-5063 Replace SVG embed with svg image
  docroot/themes/custom/bos_theme/bos_theme.theme
  docroot/themes/custom/bos_theme/css/bos_theme_overrides.css
Labels: Bug, Enhancement

#3631 DIG-5063 Replace SVG embed with svg image
  docroot/themes/custom/bos_theme/bos_theme.theme
  docroot/themes/custom/bos_theme/css/bos_theme_overrides.css
Labels: Bug

#3632 DIG-5063 Replace SVG embed with svg image
  docroot/themes/custom/bos_theme/css/bos_theme_overrides.css
Labels: Bug

#3628 (develop) DIG-1032 DIG-1039 DIG-1041 DIG-1533 DIG-1111: Metrolist Filter, Pagination & Accessibility Enhancements
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package-lock.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/AmiEstimator/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/ClearFiltersButton.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/FiltersPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/Home.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/RangeManual.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ResultsPanel/ResultsPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/Reveal.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/SearchPagination.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/SearchBar.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Enhancement, Metrolist

#3633 (develop) DIG-1032 DIG-1039 DIG-1041 DIG-1533 DIG-1111 Metrolist-Filter-Pagination-Accessibility-Enhancements
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Enhancement, Metrolist

#3635 (develop) DIG-1032 DIG-1039 DIG-1041 DIG-1533 DIG-1111 Metrolist Filter Pagination Accessibility Enhancements
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package-lock.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/RangeManual.scss
Labels: Enhancement, Metrolist

#3636 DIG-5049 Display recurring events in events component
  config/default/views.view.events_and_notices.yml
  docroot/modules/custom/bos_components/modules/bos_events_and_notices/bos_events_and_notices.module
Labels: Bug

#3647 (CI) Test Pagination Icons
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/index.js
Labels: Metrolist

#3650 (CI) Removed Dist for Reset
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/favicon.ico
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.html
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/manifest.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/robots.txt
Labels: Metrolist

#3651 (CI) Pagination Rebuild 2
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/favicon.ico
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.html
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/manifest.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/robots.txt
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Metrolist

#3652 (CI) Rebuild Pagination 3
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
Labels: Metrolist

#3653 (CI) Rebuild Dev
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.env
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/SearchPagination.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
Labels: Metrolist

#3655 (CI) Pagination Phase 2
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3656 (CI) Pagination 5 Removed Imports
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3657 (CI) Pagination Added Types for Router
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package-lock.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3658 (CI) Pagination 6 Use History
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/AmiEstimator/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/ClearFiltersButton.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/FiltersPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/Home.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/RangeManual.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ResultsPanel/ResultsPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/Reveal.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/SearchBar.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/index.js
Labels: Metrolist

#3659 (CI) Pagination 7 Cleaned up Search.js Imports
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3660 (CI) Pagination 8
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3661 (CI) Revert Search.js Only
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/util/a11y-seo.js
Labels: Metrolist

#3663 (CI) Metrolist Pagination 9
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
Labels: Metrolist

#3664 Hx ci testing
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
Labels: Metrolist

#3665 (CI) Metrolist Rebuilt with Print Functionality
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.storybook/main.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.storybook/webpack.config.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/6.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package-lock.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Metrolist

#3666 (develop) DIG-1032 DIG-1039 DIG-1041 DIG-1533 DIG-1111: Metrolist Grid Filter, Pagination & Accessibility Enhancements
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.env
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.storybook/main.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/.storybook/webpack.config.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package-lock.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/package.json
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/AmiEstimator/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/ClearFiltersButton.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ClearFiltersButton/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/FiltersPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/Home.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Home/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/RangeManual.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/RangeManual/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/ResultsPanel/ResultsPanel.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/Reveal.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Reveal/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/Search.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/SearchPagination.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/_SearchPagination/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/SearchBar.scss
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/SearchBar/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/util/a11y-seo.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/util/dev.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Enhancement, Metrolist

#3668 DIG-5198 Add accessibility message to public notice template
  docroot/modules/custom/bos_content/modules/node_public_notice/templates/node--public-notice.html.twig
Labels: Enhancement

#3669 DIG-5228 Remove content types for content authors
  config/default/user.role.content_author.yml
Labels: Bug, Enhancement

#3671 (develop) Update helper text in Drupal DIG-5227
  config/default/node.type.article.yml
  config/default/node.type.department_profile.yml
  config/default/node.type.event.yml
  config/default/node.type.how_to.yml
  config/default/node.type.landing_page.yml
  config/default/node.type.listing_page.yml
  config/default/node.type.person_profile.yml
  config/default/node.type.place_profile.yml
  config/default/node.type.post.yml
  config/default/node.type.program_initiative_profile.yml
  config/default/node.type.topic_page.yml
Labels: Enhancement

#3676 (develop) DIG-5212 DIG-5213 DIG-5217 DIG-5272 Metrolist ADA, Amenities, App Type filters & slider enhancements
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/1.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/2.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/3.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/4.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/5.index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/dist/index.bundle.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/metrolist.libraries.yml
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/FiltersPanel/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Range/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/index.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/components/Search/methods.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/src/util/dev.js
  docroot/modules/custom/bos_components/modules/bos_web_app/apps/metrolist/update-config.sh
Labels: Enhancement, Metrolist
